.canvas {
    display: flex;
    margin: auto;
    padding: 50px;
}

.gu-mirror {
    position: absolute;
    width: 20px !important;
    height: 20px !important;

    .drop-area-row-col {
        display: none;
    }
}

#picker-dom {
    padding: 0 30px;
    width: 400px;

    .section-name {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
        background-color: #e1e1e1;
        padding: 5px 10px;
    }

    .picker-dom-layout-list {
        margin-bottom: 20px;

        .drop-item {
            border-radius: 3px;
            box-shadow: 0 3px 3px #e1e1e1;
            padding: 40px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

    }

    .picker-dom-layout-item-list {
        display: flex;

        .drop-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            box-shadow: 0 3px 3px #e1e1e1;
            width: 80px;
            height: 80px;
            margin: 10px;
            font-size: 12px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }
}

.droparea-dom {
    min-height: 500px;
    background-color: #e1e1e1;
    width: 500px;
    padding: 10px;

    .drop-item.gu-transit {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: tan;
        opacity: 0.8;
        text-align: center;
        height: 100%;
        width: 100%;
        min-height: 100px;

        &.item-layer {
            max-height: 100px;
        }

        .drop-area-row {
            display: none;
        }
    }

    .hot-pan {
        position: relative;

        .block-filled {
            // background: #fff;
            outline: 1px solid #000;

            &:hover {
                outline: 3px solid cornflowerblue;
                cursor: pointer;
            }
        }
    }

    .drop-area-row {
        padding: 5px;

        &.moving {
            height: 50px;
            overflow: hidden;
            background-color: cornsilk;

            .drop-area-row-col {
                display: none;
            }
        }

        .drop-area-row-col {
            position: relative;
            background-color: #f3f3f3;
            border: 1px dashed #2a2a2a;

            &:not(.filled) {
                min-height: 100px;

                &::before {
                    position: absolute;
                    top: 40%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    content: 'Insert an item here';
                    color: #c0c0c0;
                }
            }

            .block-item {
                position: relative;
                z-index: 1;
                height: 100%;

                .block-item-logo {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .layer-dual {
        &.drop-area-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
    }

    .layer-tripple {
        &.drop-area-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }
    }
}